In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [3]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [4]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [5]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [6]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [7]:
df_majority = df[df['target'] == 0]

df_minority = df[df['target'] == 1]

In upsampling we will take the minority and make that equal to majority data by adding data

In [8]:
df_majority.shape

(900, 3)

In [9]:
df_minority.shape

(100, 3)

In [10]:
# upsampling

from sklearn.utils import resample

In [11]:
df_minority_upsample = resample(df_minority,replace=True, # sample with replacement
                                n_samples=len(df_majority), # to match the majority class
                                random_state=42)

In [12]:
df_minority_upsample.shape

(900, 3)

In [13]:
df_minority_upsample.head

<bound method NDFrame.head of      feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[900 rows x 3 columns]>

In [14]:
df_minority['target'].value_counts() # before upsampling

1    100
Name: target, dtype: int64

In [15]:
df_minority_upsample['target'].value_counts() # after upsampling

1    900
Name: target, dtype: int64

### Concatenating upsample values

In [16]:
df_upsampled = pd.concat([df_majority,df_minority_upsample])

In [17]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

## Down Sampling

In [18]:
df_majority = df[df['target'] == 0]

df_minority = df[df['target'] == 1]

In down sampling we will take the majority and make that equal to minority data by reducing data

In [19]:
df_majority.shape

(900, 3)

In [20]:
df_minority.shape

(100, 3)

In [21]:
df_majority_downsample = resample(df_majority,replace=False, # sample with replacement
                                n_samples=len(df_minority), # to match the majority class
                                random_state=42)

In [22]:
df_majority_downsample

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[100 rows x 3 columns]

In [23]:
df_majority_downsample.shape

(100, 3)

### Concatenating downsample values

In [24]:
df_downsampled = pd.concat([df_majority_downsample,df_minority])

In [25]:
df_downsampled['target'].value_counts()

0    100
1    100
Name: target, dtype: int64

In [26]:
df_downsampled.shape

(200, 3)