In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
series = pd.Series([4,8,15,16,23,42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
arr = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(arr)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [10]:
dic = {
    'Name': ['Alice','B9b','Clair'],
    'Age': [25,30,27],
    'Gender':['Female','Male','Female']
    
}

df = pd.DataFrame(dic)
print(df)

    Name  Age  Gender
0  Alice   25  Female
1    B9b   30    Male
2  Clair   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where the rows represent observations and the columns represent variables.

On the other hand, a Series is a one-dimensional labeled array capable of holding data of any type.

To illustrate the difference between the two, let's consider an example. Suppose we have a dataset containing information about some fruits such as name, color, and price. We can represent this data in a DataFrame as follows:

In [14]:

data = {
    'Name': ['Apple', 'Banana', 'Orange'],
    'Color': ['Red', 'Yellow', 'Orange'],
    'Price': [1.0, 0.5, 0.8]
}

df = pd.DataFrame(data)
df

     Name   Color  Price
0   Apple     Red    1.0
1  Banana  Yellow    0.5
2  Orange  Orange    0.8

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a variety of functions that can be used to manipulate data in a DataFrame. Here are some of the most commonly used functions:

head() and tail(): These functions can be used to get the first few or last few rows of a DataFrame. For example, df.head() would return the first 5 rows of the DataFrame df.

describe(): This function can be used to get a summary of the distribution of numerical data in a DataFrame. For example, df.describe() would return summary statistics such as mean, standard deviation, minimum, and maximum for all numeric columns in the DataFrame df.

dropna(): This function can be used to remove any rows or columns that contain missing values in a DataFrame. For example, df.dropna() would remove all rows containing missing values in the DataFrame df.

groupby(): This function can be used to group a DataFrame by one or more columns and perform operations on the resulting groups. For example, df.groupby('column_name').mean() would group the DataFrame df by the values in the column named 'column_name' and calculate the mean value for each group.

merge(): This function can be used to merge two or more DataFrames based on a common column or index. For example, if we have two DataFrames df1 and df2 with a common column 'column_name', we can merge them using pd.merge(df1, df2, on='column_name').

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable objects, meaning that they can be modified after they are created. On the other hand, Panel is an immutable object and cannot be modified once it is created. But Panel is depreciated now from Pandas newer version.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

Yes , we can create multiple Series and then add them together to build a DataFrame

In [17]:
s1 = pd.Series(['Car','Bike','Bus','Truck'])
s2 = pd.Series(['apple', 'banana', 'cherry', 'date'])
s3 = pd.Series(['cow','chicken','Goat','Deer'])

# create the dataframe using the dictionary of series
df = pd.DataFrame({'Vehicles':s1, 'Fruits': s2,'Animals':s3})

# print the dataframe
print(df)

  Vehicles  Fruits  Animals
0      Car   apple      cow
1     Bike  banana  chicken
2      Bus  cherry     Goat
3    Truck    date     Deer