Q1. Explain with an example each when to use a for loop and a while loop.

answer: 

when we travers any array or tuples or strings which has specific indexes that time we can use for loop.
Here is an example of for loop

In [2]:
marks =[10,20,40,21,43]

for i in marks:
    print(i)

10
20
40
21
43

When we have to repeatedly execute some code while a certain condition is true, then we use While loop.

In [4]:
data = [1,2,4,2,1,5,3,1,3,5,7,8,3,1,9,1,2,4,6,8]

i=0
while data[i] != 9:
    print('9 is not found!')
    i+=1

9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!
9 is not found!

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [7]:
sum=0
product = 1

for i in range(1,11):
    sum = sum+i
    product = product * i
    
print('sum: ',sum)
print('product: ',product)

sum:  55
product:  3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [8]:
unitConsumed = int(input('Please provide the unit consumption:'))
cost = 0
if unitConsumed <= 100:
    cost = unitConsumed * 4.5

elif unitConsumed >100 and unitConsumed <= 200:
    firstcost = 4.5*100
    remainedUnits = unitConsumed - 100
    secondcost = 6*remainedUnits
    
    cost = firstcost + secondcost
    
elif unitConsumed >200 and unitConsumed <=300:
    first = 4.5 * 100
    second = 6 * 100
    remainedUnits = unitConsumed - 200
    third = 10* remainedUnits
    
    
    cost = first + second + third
    
else:
    first = 4.5 * 100
    second = 6 * 100
    third = 10*100
    remainedUnits = unitConsumed - 300
    fourth = 20 * remainedUnits
    
    cost = first + second + third + fourth
    
    
print(cost)

Please provide the unit consumption: 310

2250.0

Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [11]:
num = []

for i in range(1,101):
   if i*i*i % 4 == 0 or i*i*i % 5 == 0:
    num.append(i)

print(num)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [14]:
string = "I want to become a data scientist"

count =0

for i in string:
    if i == 'a' or i=='e' or i=='Ã­' or i=='o' or i == 'u':
        count+=1
    
print('the number of vowels: ',count)

the number of vowels:  9