Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [8]:
players =  [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]


sorted_list = sorted(players,key = lambda x: x[1])

print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
nums =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = list(map(lambda x: x**2 , nums))

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

st = tuple(map(lambda x: str(x),nums))

print(st)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [16]:
nums = [i for i in range(1,26)]

from functools import reduce

product = reduce(lambda x,y: x*y,nums)

print(product)

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [19]:
nums = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

res = list(filter(lambda x:x if x%2 == 0 and x%3 == 0 else 0,nums))

print(res)

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [21]:
st = ['python', 'php', 'aba', 'radar', 'level']

pallindromes = list(filter(lambda x: x == x[::-1],st))
                    
print(pallindromes)

['php', 'aba', 'radar', 'level']